/** MODAL STYLES **/

body {
	font-family:  var(--font-family-main);
	margin: 0;
	padding: 0;
	background-color: var(--light);
	color: var(--dark);
	margin-inline: 1rem;
}

form {
	margin: 1rem;
	display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.horizontal-group{
	margin: 1rem;
	display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 0.5fr 1.5fr auto;
	gap: 1rem;
	padding: var(--container-padding);
	grid-template-areas: 
	"header header header"
	"budget budget budget"
	"categories expenses expenses"
	"graphics graphics graphics";
}

table{
	width: 100%;
}

.table-container {
    max-height: 15rem;
    overflow-y: auto;
}

th, td {
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.header-bar {
	grid-area: header;
	background-color: var(--primary);
	color: var(--white);
	padding: 1rem;
	text-align: center;
}

#budget-section {
	grid-area: budget;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0, 0.75);
}

#category-section {
	grid-area: categories;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0, 0.75);
}

#save-button{
	padding: 10px;
	background: none;
	color: var(--primary);
}

#edit-button{
	padding: 10px;
	background: none;
	color: var(--primary);
}

#delete-button{
	padding: 10px;
	background: none;
	color: var(--primary);
}

/* .form-group {
	--pad: .75rem;
	position: relative;
}

label {
	position: absolute;
	left: var(--pad);
	top: var(--pad);
	pointer-events: none;
	font-size: 1rem;
} */

.form-group {
	--pad: .75rem;
	position: relative;
	display: grid;
	gap: 0.5rem;
  }

  input {
	padding: var(--pad);
	border-radius: 8px;
	background-color: var(--bg);
	border: 1px solid #eee;
	color: inherit;
	width: 300px;
	outline: none;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px rgba(0,0,0, 0.1);
  }

  label {
	position: absolute;
	left: var(--pad);
	top: var(--pad);
	padding-inline: .3em;
	transition: transform 200ms;
	pointer-events: none;
	transform-origin: left;
	translate: -.3em;
	font-weight: normal;
  }

  input::placeholder {
	opacity: 0;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
	transform: translateY(calc(-50% - var(--pad))) scale(.8);
	color: var(--primary);
	font-weight: bold;
  }
  
  input:focus {
	border: 1px solid var(--primary);
  }

select{
	width: 300px;
	padding: var(--pad);
	font-size: 1rem;
	border: 1px solid #eee;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px rgba(0,0,0, 0.1);
}

#graphics-section {
	grid-area: graphics;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0, 0.75);
}

#expenses-section{
	grid-area: expenses;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0, 0.75);
}

button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

button:hover {
	background-color: var(--dark);
}

.add-button{
	background-color: var(--white);
	color: var(--primary);
	text-decoration: underline;
	text-decoration-color: var(--primary);
}

.add-button:hover {
	background-color: var(--white);
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: var(--modal-overlay-z-index);
}

.modal {
	position: absolute;
  	background-color: var(--white);
	padding: 2rem;
	border-radius: 0.25rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: var(--modal-z-index);
}

#summary-table{
	width: 100%;
}


@media only screen and (max-width: 768px){
	.grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-template-areas: 
		"header"
		"budget"
		"graphics"
		"categories"
		"expenses";
	}
	input {
		max-width: 100%;
		font-size: 0.9rem;
	}

	select{
		max-width: 100%;
	}
}