@import "./index.css";
 
 .important_notice {
     background: #18bc9c;
     color: #fff;
     padding: 7px 7px 7px 7px;
     display: block;
     margin-bottom: 10px;
     border-radius: 3px;	
 }
 .important_notice p {
     margin: 0;
 }
 .important_notice a {
     padding: 1px 7px 3px 7px;
     margin-left: 5px;
     margin-top: 3px;
     display: inline-block;
     background: #128d75;
     border-radius: 3px;
 }
 .container {
     max-width: 600px;
     margin: 0 auto;
     padding: 0;
 }
 .list-inline {
     margin: 0 !important;	
 }
 .row {
     margin: 0;
     padding: 0;
 }
 @media screen and (max-width: 650px) {
 .container {
     padding-left: 5%;
     padding-right: 5%;
 }
 }
 .cta {
     background: #18bc9c;
     color: #fff;
     padding: 6px 10px 7px 10px;
     border-radius: 3px;
     display: block;
     width: 218px;
     margin-top: 25px;	
 }
 .cta:hover {
     color: #fff;
     text-decoration: underline;	
 }