:root {
    --primary: #3cb371;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --white: #ffffff;
    --light: #f8f9fa;
    --dark: #343a40;


    --font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --container-padding:1rem

    --modal-overlay-z-index: 1000;
    --modal-z-index: calc(var(--modal-overlay-z-index) + 1);
}